
.image-cycler {
  img {
    border: 1px solid #666;
  }
  .controls {
    text-align: center;
    display: block;

    > span {
      padding: 0 0.25rem;
      display: inline-block;
    }
    > a {
      padding: 0 0.125rem;
    }
  }
}
