@import "variables";

input, textarea, select {
  border: 1px solid $red-border;
  background: black;
  color: #ccc;

  &:disabled {
    background: #565656;
    border-color: lighten($red-border, 20%);
  }
}

textarea {
  min-height: 14rem;

  &.small-textarea {
    min-height: 4rem !important;
  }
}

.form-group {
  display: block;
  width: 100%;
  label, input, select, textarea {
    display: block;
    margin: 0.25rem 0;
    width: 100%;
  }
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }
}

button, .btn {
  width: auto !important;
  color: #FFD659;
  padding: 0.1rem 0.25rem;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(100,100,100,1) 100%);
  border: 1px solid #666666;
  display: inline-block;

  &:hover {
    color: white;
  }
  &:disabled {
    color: #666;
  }

  &.btn-sm {
    padding: 0 0.25rem;
  }
  &.btn-outline-primary {
    border: 1px solid $link-color;
  }

  &.btn-outline-danger {
    border: 1px solid $danger;
    color: $danger;
  }
}

button[type="submit"] {
  font-size: 1rem;
  color: #000;
  background: #ead30f;
  padding: 0.25rem 0.5rem;
  line-height: 1rem;
  text-align: center;
  border: 0;
  margin: 0.5rem auto;
  display: block;
  &:disabled {
    background: #70630a;
    color: #a1a1a1;
  }
}

.btn-toolbar {
  display: flex;
  flex-flow: row;

  .btn-group {
    margin-right: 0.25rem;
  }
}

.btn-group {
  display: flex;
  flex-flow: row nowrap;
  button, .btn {
    margin-right: 0.25rem;
    white-space: nowrap;
  }
}

.btn-group-xs {
  button, .btn {
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
  }
}
