@import "variables";

// global styles
h1 {
    border-top: 1px solid $red-border;
    border-bottom: 1px solid $red-border;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(49,49,49,1) 100%);

    font-weight: normal;
    padding: 0.25rem;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.125rem;

    small {
        font-size: 0.7rem;
    }
}
h2 {
    font-size: 1.25rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.125rem;
}
h3.small {
    font-size: 0.7rem;
    color: #ccc;
    font-weight: normal;
    margin-bottom: 0.125rem;
}

input, textarea {
    border: 1px solid $red-border;
    background: black;
    color: #ccc;
}
textarea {
    min-height: 14rem;
}

section {
    background: $section-background;
    color: $section-foreground;
    padding: 0.5rem;
    margin-bottom: 0.125rem;
}
section:nth-child(2n) {
    background: $section-background-alt;
}

footer {
    text-align: center;
    font-size: 0.6rem;
    color: #666;
    margin: 1rem auto;
}

// Forms
.form-group {
    display: block;
    width: 100%;
    label, input, select, textarea {
        display: block;
        margin: 0.25rem 0;
        width: 100%;
    }
    input[type="checkbox"] {
        display: inline-block;
        width: auto;
    }
}

button {
    width: auto !important;
    color: #FFD659;
    padding: 4px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(100,100,100,1) 100%);
    border: 1px solid #666666;
    &:hover {
        color: white;
    }
}

button[type="submit"] {
    font-size: 1rem;
    color: #000;
    background: #ead30f;
    padding: 0.25rem 0.5rem;
    line-height: 1rem;
    text-align: center;
    border: 0;
    margin: 0.5rem auto;
    display: block;
}
