// Forums

.thread-listing {
  .col-stat {
    max-width: 130px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .col-last-post {
    max-width: 200px;
    text-align: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .col-created-by {
    max-width: 160px;
  }
  table td {
    vertical-align: middle;
  }
}

.forum-post {
  padding: 0;

  header {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0.5rem 0.5rem;
    padding: 0.25rem 0;
    border-bottom: 1px solid rgba(#ccc, 0.125);
    small {
      display: block;
    }
  }

  .user-avatar-details {
    width: 10rem;
    flex: 0 0 10rem;
    border-right: 1px solid rgba(#ccc, 0.25);
  }
}

.user-avatar-details {
  font-size: 90%;
  padding: 0.5rem;
  img {
    display: block;
    margin: 0 auto 0.5rem;
    max-width: 100%;
  }
  > * {
    display: block;
  }
}


// Maps
.map-list {
  padding: 0 calc((var(--bs-gutter-x) - 0.25rem) / 2);

  & > * {
    padding: 0.125rem;
  }

  .game-image-filler {
    width: 20px;
    visibility: hidden;
  }

  section {
    padding: 0;

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.125rem 0.5rem;
    }

    .image {
      border: 1px solid #666;
      position: relative;
      margin-top: 0.25rem;

      .overlay {
        pointer-events: none;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
      }

      .description {
        display: none;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        overflow: hidden;
        margin: 0;
        padding: 0.25rem;
        background: black;
        border-top: 1px solid #666;
        pointer-events: none;
      }

      &:hover .description {
        display: block;
      }

      .bbcode {
        line-height: 1rem;
        br {
          content: '';
          &:after { content: ' '; }
        }
      }
    }
  }
}
