// Bootstrap overrides
$font-size-base: 0.8rem;

$link-color: #ead30f;
$link-decoration: none;
$link-hover-color: #fff;


// Site specific
$red-border: #990000;
$section-background: #333;
$section-background-alt: #222;
$section-foreground: #ccc;
